@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");
@font-face {
  font-family: "haters";
  src: url("../font/heaters/Heaters.otf"); }

/* MEDIA QUERIES */
/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  /* --------------- BODY --------------- */
  body {
    background-image: url(../imagenes/fondo.png);
    background-attachment: fixed; }
  /* --------------- HEADER --------------- */
  body header div#titulo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-top: 30px;
    margin-bottom: 50px;
    background-color: black; }
    body header div#titulo h1 {
      text-align: center;
      font-size: 15px;
      margin: 5px; }
    body header div#titulo a img {
      width: 75px;
      height: 75px; }
    body header div#titulo h2 {
      text-align: center;
      font-size: 15px;
      margin: 5px; }
  /* --------------- NAV --------------- */
  /* GENERAL*/
  body header DIV#navMobile {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    margin-top: 20px;
    margin-bottom: 50px;
    background-color: black; }
  /* BOTON */
  div#navMobile {
    display: flex;
    flex-direction: row; }
  input#abrir-cerrar {
    visibility: hidden;
    position: absolute;
    top: -9999px; }
  .toggle-button {
    display: block;
    width: 40px;
    height: 40px;
    border: 1px solid #FFCF0B;
    position: relative;
    cursor: pointer;
    box-sizing: border-box;
    margin-top: 5px; }
  .toggle-button:before, .toggle-button:after {
    position: absolute;
    display: block;
    content: " ";
    width: calc(100% / 2);
    box-sizing: border-box;
    left: calc(100% / 4);
    transition: all 0.2s ease-out; }
  .toggle-button:before {
    top: calc(100% / 4);
    height: calc(100% / 4);
    border-top: 1px solid #FFCF0B;
    border-bottom: 1px solid #FFCF0B;
    background-color: transparent; }
  .toggle-button:after {
    height: 1px;
    background-color: #FFCF0B;
    bottom: calc(100% / 4); }
  .abrir, .cerrar {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-indent: -9999px; }
  .abrir {
    display: block; }
  .cerrar {
    display: none; }
  input#abrir-cerrar:checked + .toggle-button .abrir {
    display: none; }
  input#abrir-cerrar:checked + .toggle-button .cerrar {
    display: block; }
  input#abrir-cerrar:checked + .toggle-button:before, input#abrir-cerrar:checked + .toggle-button:after {
    top: calc(100% / 2);
    height: 1px;
    border-bottom: 0; }
  input#abrir-cerrar:checked + .toggle-button:before {
    transform: rotate(45deg); }
  input#abrir-cerrar:checked + .toggle-button:after {
    transform: rotate(-45deg); }
  input#abrir-cerrar:checked ~ #sidebar {
    width: 150px; }
  input#abrir-cerrar:checked + label[for="abrir-cerrar"], input#abrir-cerrar:checked ~ #contenido {
    transition: margin-left .4s;
    z-index: 2; }
  /* MENU DESPLEGABLE */
  #sidebar {
    width: 0; }
  .sidebar {
    position: fixed;
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: gray;
    overflow-x: hidden;
    transition: 0.4s;
    padding: 1rem 0;
    box-sizing: border-box; }
  .sidebar ul, .sidebar li {
    margin: 0;
    padding: 0;
    list-style: none inside; }
  .sidebar ul {
    margin: 4rem auto;
    display: block;
    width: 80%;
    min-width: 200px; }
  .sidebar a {
    display: block;
    font-family: "haters";
    font-size: 250%;
    color: #FFCF0B;
    text-decoration: none;
    margin-left: 30px;
    text-shadow: 0 0 1px #000, -1px -1px 0 #000,   1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; }
  .sidebar a:hover {
    color: snow;
    background-color: black;
    width: 100%;
    margin: 0px;
    padding-left: 40px; }
  /* --------------- FOOTER --------------- */
  footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding-bottom: 10px; }
    footer p {
      font-family: "haters";
      font-size: 30px;
      padding-top: 10px;
      margin-left: 10px; }
    footer div {
      display: flex;
      flex-direction: row;
      align-items: center; }
      footer div p {
        font-size: 13px; }
      footer div a {
        padding-right: 10px; }
    footer img {
      width: 30px;
      height: 30px; }
    footer a#logoFooter {
      padding-right: 20px; }
      footer a#logoFooter img {
        width: 100px;
        height: 100px; }
  /* --------------- INDEX --------------- */
  ul#mainMobile {
    display: flex;
    flex-direction: column;
    align-items: start;
    list-style-type: none; }
    ul#mainMobile li {
      padding: 6px 0; }
      ul#mainMobile li a {
        position: relative;
        display: block;
        padding: 4px 0;
        font: 2rem "haters";
        text-decoration: none;
        text-transform: uppercase;
        background: linear-gradient(var(--fill-color) 0 100%) left/0 no-repeat;
        color: #FFCF0B;
        background-clip: text;
        transition: 0.5s linear;
        text-shadow: 0 0 1px #000, -1px -1px 0 #000,   1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; }
  /* --------------- SERVICIOS --------------- */
  body main#service {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px; }
    body main#service div {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin: 0px 20px 20px 20px; }
      body main#service div h1 {
        font-size: 40px;
        margin-top: 0px; }
      body main#service div img {
        box-shadow: 5px 3px 3px #7c7c7c;
        border-radius: 20px;
        margin: 10px; }
  /* --------------- NOSOTROS --------------- */
  body main#nos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
    align-items: center; }
    body main#nos h1 {
      font-size: 40px; }
    body main#nos div#valen {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 20px; }
    body main#nos div#octa {
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      margin: 20px; }
    body main#nos div img {
      display: flex;
      flex-direction: column;
      justify-items: center;
      border: solid black;
      padding: 5px;
      width: 200px;
      height: 200px;
      box-shadow: 10px 5px 5px #7c7c7c;
      background-color: snow; }
    body main#nos div ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-right: 20px;
      font-size: 15px;
      border: solid;
      background-color: snow;
      width: 200px; }
  /* --------------- COCKTAILS --------------- */
  body main#bebidas div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 5px;
    margin-bottom: 10px; }
    body main#bebidas div div {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      background-color: black;
      box-shadow: 10px 5px 5px #7c7c7c;
      border-radius: 5px; }
      body main#bebidas div div div {
        box-shadow: none;
        padding: 5px; }
  body main#bebidas h1 {
    font-size: 40px;
    margin-top: 40px; }
  body main#bebidas h2 {
    font-size: 30px; }
  body main#bebidas ul {
    font-size: 12px; }
  body main#bebidas ol {
    font-size: 12px; }
  table {
    border-collapse: collapse;
    padding: 3px;
    background-image: url(../imagenes/logoopaco.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 120%; }
  th {
    font-size: 12px;
    font-weight: bold;
    padding: 4px;
    background: transparent;
    border-top: 4px solid black;
    border-bottom: 1px solid snow;
    color: #FFCF0B; }
  th#th {
    font-size: 17px; }
  td {
    padding: 4px;
    background: transparent;
    border-bottom: 1px solid snow;
    color: snow;
    border-top: 1px solid transparent; }
  table#segunda {
    width: 100px;
    margin-right: 200px; }
  table#segunda th {
    width: fit-content; }
  tr:hover td {
    background: transparent;
    color: #FFCF0B; }
  /* --------------- CONTACTO --------------- */
  body main form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
    margin-top: 60px;
    margin-bottom: 40px; }
    body main form fieldset {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 900px;
      height: 600px;
      border: solid;
      border-radius: 20px;
      padding: 20px;
      background-color: black;
      box-shadow: 10px 5px 5px #7c7c7c; }
      body main form fieldset h1 {
        font-size: 30px; }
  /* --------------- RESERVA --------------- */
  main#reservaBarra h1 {
    font-size: 40px;
    margin: 0px;
    margin-bottom: 20px; }
  main#reservaBarra h4 {
    font-size: 30px; }
  main#reservaBarra span {
    font-size: 10px; }
  main#reservaBarra div {
    margin: 1px;
    padding: 5px; }
    main#reservaBarra div input {
      box-shadow: 10px 5px 5px #7c7c7c;
      margin-bottom: 50px;
      width: 70px;
      font-size: 15px; }
  .mt-100 {
    margin-top: 50px; }
  hr, .hrcolor {
    height: 1px;
    border: 0;
    color: #666;
    background-color: snow; }
  .mb-30 {
    margin-bottom: 30px; }
  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: black;
    background-clip: border-box;
    border: 1px solid #d2d2dc;
    border-radius: 20px;
    box-shadow: 10px 5px 5px #7c7c7c; }
  .card .card-body {
    padding: 1.25rem 1.75rem; }
  .card-body {
    flex: 1 1 auto;
    padding: 1.25rem; }
  .card .card-title {
    color: #FFCF0B;
    font-family: "haters";
    font-size: 300%;
    margin-bottom: 0.625rem;
    text-transform: capitalize;
    font-weight: 500; }
  .card .card-description {
    margin-bottom: .875rem;
    font-weight: 400;
    color: slategray; }
  label.check {
    cursor: pointer; }
  label.check input {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    pointer-events: none; }
  label.check span {
    padding: 7px 14px;
    border: 2px solid #FFCF0B;
    display: inline-block;
    color: #FFCF0B;
    border-radius: 3px;
    text-transform: uppercase; }
  label.check input:checked + span {
    border-color: #FFCF0B;
    background-color: #FFCF0B;
    color: snow; }
  /* --------------- CLASES --------------- */
  /* GENERALES */
  .marginTop {
    margin-top: 100px; }
  .borde {
    text-shadow: 0 0 1px #000, -1px -1px 0 #000,   1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; }
  .hidden {
    display: none; }
  /* TEXTO*/
  /* COLOR */
  .colorAmarillo {
    color: #FFCF0B; }
  .colorMostaza {
    color: #FFCF0B; }
  .colorBlanco {
    color: snow; }
  .colorGris {
    color: slategray; }
  /* FONT */
  .haters {
    font-family: "haters"; }
  .font {
    font-family: "Architects Daughter", cursive; }
  .mostazaHaters {
    font-family: "haters";
    color: #FFCF0B; }
  /* SIZE */
  .bigFont {
    font-size: 300%; }
  .bigBigFont {
    font-size: 500%; }
  /* LISTAS */
  .listRoman {
    list-style-type: upper-roman; }
  .listDisc {
    list-style-type: disc; } }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* --------------- BODY --------------- */
  body {
    background-image: url(../imagenes/fondo.png);
    background-attachment: fixed; }
  /* --------------- HEADER --------------- */
  body header div#titulo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-top: 30px;
    margin-bottom: 50px;
    background-color: black; }
    body header div#titulo h1 {
      text-align: center;
      font-size: 20px;
      margin: 5px; }
    body header div#titulo a img {
      width: 100px;
      height: 100px; }
    body header div#titulo h2 {
      text-align: center;
      font-size: 20px;
      margin: 5px; }
  /* --------------- NAV --------------- */
  /* GENERAL*/
  body header DIV#navMobile {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    margin-top: 20px;
    margin-bottom: 50px;
    background-color: black; }
  /* BOTON */
  div#navMobile {
    display: flex;
    flex-direction: row; }
  input#abrir-cerrar {
    visibility: hidden;
    position: absolute;
    top: -9999px; }
  .toggle-button {
    display: block;
    width: 40px;
    height: 40px;
    border: 1px solid #FFCF0B;
    position: relative;
    cursor: pointer;
    box-sizing: border-box;
    margin-top: 5px; }
  .toggle-button:before, .toggle-button:after {
    position: absolute;
    display: block;
    content: " ";
    width: calc(100% / 2);
    box-sizing: border-box;
    left: calc(100% / 4);
    transition: all 0.2s ease-out; }
  .toggle-button:before {
    top: calc(100% / 4);
    height: calc(100% / 4);
    border-top: 1px solid #FFCF0B;
    border-bottom: 1px solid #FFCF0B;
    background-color: transparent; }
  .toggle-button:after {
    height: 1px;
    background-color: #FFCF0B;
    bottom: calc(100% / 4); }
  .abrir, .cerrar {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-indent: -9999px; }
  .abrir {
    display: block; }
  .cerrar {
    display: none; }
  input#abrir-cerrar:checked + .toggle-button .abrir {
    display: none; }
  input#abrir-cerrar:checked + .toggle-button .cerrar {
    display: block; }
  input#abrir-cerrar:checked + .toggle-button:before, input#abrir-cerrar:checked + .toggle-button:after {
    top: calc(100% / 2);
    height: 1px;
    border-bottom: 0; }
  input#abrir-cerrar:checked + .toggle-button:before {
    transform: rotate(45deg); }
  input#abrir-cerrar:checked + .toggle-button:after {
    transform: rotate(-45deg); }
  input#abrir-cerrar:checked ~ #sidebar {
    width: 150px; }
  input#abrir-cerrar:checked + label[for="abrir-cerrar"], input#abrir-cerrar:checked ~ #contenido {
    transition: margin-left .4s;
    z-index: 2; }
  /* MENU DESPLEGABLE */
  #sidebar {
    width: 0; }
  .sidebar {
    position: fixed;
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: gray;
    overflow-x: hidden;
    transition: 0.4s;
    padding: 1rem 0;
    box-sizing: border-box; }
  .sidebar ul, .sidebar li {
    margin: 0;
    padding: 0;
    list-style: none inside; }
  .sidebar ul {
    margin: 4rem auto;
    display: block;
    width: 80%;
    min-width: 200px; }
  .sidebar a {
    display: block;
    font-family: "haters";
    font-size: 250%;
    color: #FFCF0B;
    text-decoration: none;
    margin-left: 30px;
    text-shadow: 0 0 1px #000, -1px -1px 0 #000,   1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; }
  .sidebar a:hover {
    color: snow;
    background-color: black;
    width: 100%;
    margin: 0px;
    padding-left: 40px; }
  /* --------------- FOOTER --------------- */
  footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding-bottom: 10px; }
    footer p {
      font-family: "haters";
      font-size: 30px;
      padding-top: 10px;
      margin-left: 10px; }
    footer div {
      display: flex;
      flex-direction: row;
      align-items: center; }
      footer div p {
        font-size: 13px; }
      footer div a {
        padding-right: 10px; }
    footer img {
      width: 30px;
      height: 30px; }
    footer a#logoFooter {
      padding-right: 20px; }
      footer a#logoFooter img {
        width: 100px;
        height: 100px; }
  /* --------------- INDEX --------------- */
  ul#mainMobile {
    display: flex;
    flex-direction: column;
    align-items: start;
    list-style-type: none; }
    ul#mainMobile li {
      padding: 6px 0; }
      ul#mainMobile li a {
        position: relative;
        display: block;
        padding: 4px 0;
        font: 2rem "haters";
        text-decoration: none;
        text-transform: uppercase;
        background: linear-gradient(var(--fill-color) 0 100%) left/0 no-repeat;
        color: #FFCF0B;
        background-clip: text;
        transition: 0.5s linear;
        text-shadow: 0 0 1px #000, -1px -1px 0 #000,   1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; }
  /* --------------- SERVICIOS --------------- */
  body main#service {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px; }
    body main#service div {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin: 0px 20px 20px 20px; }
      body main#service div h1 {
        font-size: 40px;
        margin-top: 0px; }
      body main#service div img {
        box-shadow: 5px 3px 3px #7c7c7c;
        border-radius: 20px;
        margin: 10px; }
  /* --------------- NOSOTROS --------------- */
  body main#nos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
    align-items: center; }
    body main#nos h1 {
      font-size: 40px; }
    body main#nos div#valen {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 20px; }
    body main#nos div#octa {
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      margin: 20px; }
    body main#nos div img {
      display: flex;
      flex-direction: column;
      justify-items: center;
      border: solid black;
      padding: 5px;
      width: 200px;
      height: 200px;
      box-shadow: 10px 5px 5px #7c7c7c;
      background-color: snow; }
    body main#nos div ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-right: 20px;
      font-size: 15px;
      border: solid;
      background-color: snow;
      width: 200px; }
  /* --------------- COCKTAILS --------------- */
  body main#bebidas div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 5px;
    margin-bottom: 10px; }
    body main#bebidas div div {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      background-color: black;
      box-shadow: 10px 5px 5px #7c7c7c;
      border-radius: 5px; }
      body main#bebidas div div div {
        box-shadow: none;
        padding: 5px; }
  body main#bebidas h1 {
    font-size: 40px;
    margin-top: 40px; }
  body main#bebidas h2 {
    font-size: 30px; }
  body main#bebidas ul {
    font-size: 12px; }
  body main#bebidas ol {
    font-size: 12px; }
  table {
    border-collapse: collapse;
    padding: 3px;
    background-image: url(../imagenes/logoopaco.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 120%; }
  th {
    font-size: 12px;
    font-weight: bold;
    padding: 4px;
    background: transparent;
    border-top: 4px solid black;
    border-bottom: 1px solid snow;
    color: #FFCF0B; }
  th#th {
    font-size: 17px; }
  td {
    padding: 4px;
    background: transparent;
    border-bottom: 1px solid snow;
    color: snow;
    border-top: 1px solid transparent; }
  table#segunda {
    width: 100px;
    margin-right: 200px; }
  table#segunda th {
    width: fit-content; }
  tr:hover td {
    background: transparent;
    color: #FFCF0B; }
  /* --------------- CONTACTO --------------- */
  body main form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
    margin-top: 60px;
    margin-bottom: 40px; }
    body main form fieldset {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 900px;
      height: 600px;
      border: solid;
      border-radius: 20px;
      padding: 20px;
      background-color: black;
      box-shadow: 10px 5px 5px #7c7c7c; }
      body main form fieldset h1 {
        font-size: 30px; }
  /* --------------- RESERVA --------------- */
  main#reservaBarra h1 {
    font-size: 40px;
    margin: 0px;
    margin-bottom: 20px; }
  main#reservaBarra h4 {
    font-size: 30px; }
  main#reservaBarra span {
    font-size: 10px; }
  main#reservaBarra div {
    margin: 1px;
    padding: 5px; }
    main#reservaBarra div input {
      box-shadow: 10px 5px 5px #7c7c7c;
      margin-bottom: 50px;
      width: 70px;
      font-size: 15px; }
  .mt-100 {
    margin-top: 50px; }
  hr, .hrcolor {
    height: 1px;
    border: 0;
    color: #666;
    background-color: snow; }
  .mb-30 {
    margin-bottom: 30px; }
  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: black;
    background-clip: border-box;
    border: 1px solid #d2d2dc;
    border-radius: 20px;
    box-shadow: 10px 5px 5px #7c7c7c; }
  .card .card-body {
    padding: 1.25rem 1.75rem; }
  .card-body {
    flex: 1 1 auto;
    padding: 1.25rem; }
  .card .card-title {
    color: #FFCF0B;
    font-family: "haters";
    font-size: 300%;
    margin-bottom: 0.625rem;
    text-transform: capitalize;
    font-weight: 500; }
  .card .card-description {
    margin-bottom: .875rem;
    font-weight: 400;
    color: slategray; }
  label.check {
    cursor: pointer; }
  label.check input {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    pointer-events: none; }
  label.check span {
    padding: 7px 14px;
    border: 2px solid #FFCF0B;
    display: inline-block;
    color: #FFCF0B;
    border-radius: 3px;
    text-transform: uppercase; }
  label.check input:checked + span {
    border-color: #FFCF0B;
    background-color: #FFCF0B;
    color: snow; }
  /* --------------- CLASES --------------- */
  /* GENERALES */
  .marginTop {
    margin-top: 100px; }
  .borde {
    text-shadow: 0 0 1px #000, -1px -1px 0 #000,   1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; }
  .hidden {
    display: none; }
  /* TEXTO*/
  /* COLOR */
  .colorAmarillo {
    color: #FFCF0B; }
  .colorMostaza {
    color: #FFCF0B; }
  .colorBlanco {
    color: snow; }
  .colorGris {
    color: slategray; }
  /* FONT */
  .haters {
    font-family: "haters"; }
  .mostazaHaters {
    color: #FFCF0B;
    font-family: "haters"; }
  .font {
    font-family: "Architects Daughter", cursive; }
  /* SIZE */
  .bigFont {
    font-size: 300%; }
  .bigBigFont {
    font-size: 500%; }
  /* LISTAS */
  .listRoman {
    list-style-type: upper-roman; }
  .listDisc {
    list-style-type: disc; } }

@media only screen and (min-device-width: 480px) and (max-device-width: 768px) {
  /* --------------- BODY --------------- */
  body {
    background-image: url(../imagenes/fondo.png);
    background-attachment: fixed; }
  /* --------------- HEADER --------------- */
  body header div#titulo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-top: 30px;
    margin-bottom: 50px;
    background-color: black; }
    body header div#titulo h1 {
      text-align: center;
      font-size: 20px;
      margin: 5px; }
    body header div#titulo a img {
      width: 100px;
      height: 100px; }
    body header div#titulo h2 {
      text-align: center;
      font-size: 20px;
      margin: 5px; }
  /* --------------- NAV --------------- */
  /* GENERAL*/
  body header DIV#navMobile {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    margin-top: 20px;
    margin-bottom: 50px;
    background-color: black; }
  /* BOTON */
  div#navMobile {
    display: flex;
    flex-direction: row; }
  input#abrir-cerrar {
    visibility: hidden;
    position: absolute;
    top: -9999px; }
  .toggle-button {
    display: block;
    width: 40px;
    height: 40px;
    border: 1px solid #FFCF0B;
    position: relative;
    cursor: pointer;
    box-sizing: border-box;
    margin-top: 5px; }
  .toggle-button:before, .toggle-button:after {
    position: absolute;
    display: block;
    content: " ";
    width: calc(100% / 2);
    box-sizing: border-box;
    left: calc(100% / 4);
    transition: all 0.2s ease-out; }
  .toggle-button:before {
    top: calc(100% / 4);
    height: calc(100% / 4);
    border-top: 1px solid #FFCF0B;
    border-bottom: 1px solid #FFCF0B;
    background-color: transparent; }
  .toggle-button:after {
    height: 1px;
    background-color: #FFCF0B;
    bottom: calc(100% / 4); }
  .abrir, .cerrar {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-indent: -9999px; }
  .abrir {
    display: block; }
  .cerrar {
    display: none; }
  input#abrir-cerrar:checked + .toggle-button .abrir {
    display: none; }
  input#abrir-cerrar:checked + .toggle-button .cerrar {
    display: block; }
  input#abrir-cerrar:checked + .toggle-button:before, input#abrir-cerrar:checked + .toggle-button:after {
    top: calc(100% / 2);
    height: 1px;
    border-bottom: 0; }
  input#abrir-cerrar:checked + .toggle-button:before {
    transform: rotate(45deg); }
  input#abrir-cerrar:checked + .toggle-button:after {
    transform: rotate(-45deg); }
  input#abrir-cerrar:checked ~ #sidebar {
    width: 150px; }
  input#abrir-cerrar:checked + label[for="abrir-cerrar"], input#abrir-cerrar:checked ~ #contenido {
    transition: margin-left .4s;
    z-index: 2; }
  /* MENU DESPLEGABLE */
  #sidebar {
    width: 0; }
  .sidebar {
    position: fixed;
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: gray;
    overflow-x: hidden;
    transition: 0.4s;
    padding: 1rem 0;
    box-sizing: border-box; }
  .sidebar ul, .sidebar li {
    margin: 0;
    padding: 0;
    list-style: none inside; }
  .sidebar ul {
    margin: 4rem auto;
    display: block;
    width: 80%;
    min-width: 200px; }
  .sidebar a {
    display: block;
    font-family: "haters";
    font-size: 250%;
    color: #FFCF0B;
    text-decoration: none;
    margin-left: 30px;
    text-shadow: 0 0 1px #000, -1px -1px 0 #000,   1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; }
  .sidebar a:hover {
    color: snow;
    background-color: black;
    width: 100%;
    margin: 0px;
    padding-left: 40px; }
  /* --------------- FOOTER --------------- */
  footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding-bottom: 10px; }
    footer p {
      font-family: "haters";
      font-size: 30px;
      padding-top: 10px;
      margin-left: 10px; }
    footer div {
      display: flex;
      flex-direction: row;
      align-items: center; }
      footer div p {
        font-size: 13px; }
      footer div a {
        padding-right: 10px; }
    footer img {
      width: 30px;
      height: 30px; }
    footer a#logoFooter {
      padding-right: 20px; }
      footer a#logoFooter img {
        width: 100px;
        height: 100px; }
  /* --------------- INDEX --------------- */
  ul#mainMobile {
    display: flex;
    flex-direction: column;
    align-items: start;
    list-style-type: none; }
    ul#mainMobile li {
      padding: 6px 0; }
      ul#mainMobile li a {
        position: relative;
        display: block;
        padding: 4px 0;
        font: 2rem "haters";
        text-decoration: none;
        text-transform: uppercase;
        background: linear-gradient(var(--fill-color) 0 100%) left/0 no-repeat;
        color: #FFCF0B;
        background-clip: text;
        transition: 0.5s linear;
        text-shadow: 0 0 1px #000, -1px -1px 0 #000,   1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; }
  /* --------------- SERVICIOS --------------- */
  body main#service {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px; }
    body main#service div {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin: 0px 20px 20px 20px; }
      body main#service div h1 {
        font-size: 40px;
        margin-top: 0px; }
      body main#service div img {
        box-shadow: 5px 3px 3px #7c7c7c;
        border-radius: 20px;
        margin: 10px; }
  /* --------------- NOSOTROS --------------- */
  body main#nos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
    align-items: center; }
    body main#nos h1 {
      font-size: 40px; }
    body main#nos div#valen {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 20px; }
    body main#nos div#octa {
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      margin: 20px; }
    body main#nos div img {
      display: flex;
      flex-direction: column;
      justify-items: center;
      border: solid black;
      padding: 5px;
      width: 200px;
      height: 200px;
      box-shadow: 10px 5px 5px #7c7c7c;
      background-color: snow; }
    body main#nos div ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-right: 20px;
      font-size: 15px;
      border: solid;
      background-color: snow;
      width: 200px; }
  /* --------------- COCKTAILS --------------- */
  body main#bebidas div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 5px;
    margin-bottom: 10px; }
    body main#bebidas div div {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      background-color: black;
      box-shadow: 10px 5px 5px #7c7c7c;
      border-radius: 5px; }
      body main#bebidas div div div {
        box-shadow: none;
        padding: 5px; }
  body main#bebidas h1 {
    font-size: 40px;
    margin-top: 40px; }
  body main#bebidas h2 {
    font-size: 30px; }
  body main#bebidas ul {
    font-size: 12px; }
  body main#bebidas ol {
    font-size: 12px; }
  table {
    border-collapse: collapse;
    padding: 3px;
    background-image: url(../imagenes/logoopaco.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 120%; }
  th {
    font-size: 12px;
    font-weight: bold;
    padding: 4px;
    background: transparent;
    border-top: 4px solid black;
    border-bottom: 1px solid snow;
    color: #FFCF0B; }
  th#th {
    font-size: 17px; }
  td {
    padding: 4px;
    background: transparent;
    border-bottom: 1px solid snow;
    color: snow;
    border-top: 1px solid transparent; }
  table#segunda {
    width: 100px;
    margin-right: 200px; }
  table#segunda th {
    width: fit-content; }
  tr:hover td {
    background: transparent;
    color: #FFCF0B; }
  /* --------------- CONTACTO --------------- */
  body main form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
    margin-top: 60px;
    margin-bottom: 40px; }
    body main form fieldset {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 900px;
      height: 600px;
      border: solid;
      border-radius: 20px;
      padding: 20px;
      background-color: black;
      box-shadow: 10px 5px 5px #7c7c7c; }
      body main form fieldset h1 {
        font-size: 30px; }
  /* --------------- RESERVA --------------- */
  main#reservaBarra h1 {
    font-size: 40px;
    margin: 0px;
    margin-bottom: 20px; }
  main#reservaBarra h4 {
    font-size: 30px; }
  main#reservaBarra span {
    font-size: 10px; }
  main#reservaBarra div {
    margin: 1px;
    padding: 5px; }
    main#reservaBarra div input {
      box-shadow: 10px 5px 5px #7c7c7c;
      margin-bottom: 50px;
      width: 70px;
      font-size: 15px; }
  .mt-100 {
    margin-top: 50px; }
  hr, .hrcolor {
    height: 1px;
    border: 0;
    color: #666;
    background-color: snow; }
  .mb-30 {
    margin-bottom: 30px; }
  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: black;
    background-clip: border-box;
    border: 1px solid #d2d2dc;
    border-radius: 20px;
    box-shadow: 10px 5px 5px #7c7c7c; }
  .card .card-body {
    padding: 1.25rem 1.75rem; }
  .card-body {
    flex: 1 1 auto;
    padding: 1.25rem; }
  .card .card-title {
    color: #FFCF0B;
    font-family: "haters";
    font-size: 300%;
    margin-bottom: 0.625rem;
    text-transform: capitalize;
    font-weight: 500; }
  .card .card-description {
    margin-bottom: .875rem;
    font-weight: 400;
    color: slategray; }
  label.check {
    cursor: pointer; }
  label.check input {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    pointer-events: none; }
  label.check span {
    padding: 7px 14px;
    border: 2px solid #FFCF0B;
    display: inline-block;
    color: #FFCF0B;
    border-radius: 3px;
    text-transform: uppercase; }
  label.check input:checked + span {
    border-color: #FFCF0B;
    background-color: #FFCF0B;
    color: snow; }
  /* --------------- CLASES --------------- */
  /* GENERALES */
  .marginTop {
    margin-top: 100px; }
  .borde {
    text-shadow: 0 0 1px #000, -1px -1px 0 #000,   1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; }
  .hidden {
    display: none; }
  /* TEXTO*/
  /* COLOR */
  .colorAmarillo {
    color: #FFCF0B; }
  .colorMostaza {
    color: #FFCF0B; }
  .colorBlanco {
    color: snow; }
  .colorGris {
    color: slategray; }
  /* FONT */
  .mostazaHaters {
    color: #FFCF0B;
    font-family: "haters"; }
  .font {
    font-family: "Architects Daughter", cursive; }
  /* SIZE */
  .bigFont {
    font-size: 300%; }
  .bigBigFont {
    font-size: 500%; }
  .hatersBig {
    font-family: "haters"; }
  /* LISTAS */
  .listRoman {
    list-style-type: upper-roman; }
  .listDisc {
    list-style-type: disc; } }

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1224px) {
  /* --------------- BODY --------------- */
  body {
    background-image: url(../imagenes/fondo.png);
    background-attachment: fixed; }
  /* --------------- HEADER --------------- */
  body header div#titulo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-top: 30px;
    margin-bottom: 50px;
    background-color: black; }
    body header div#titulo h1 {
      text-align: center;
      font-size: 35px;
      margin: 5px; }
    body header div#titulo a img {
      width: 120px;
      height: 120px; }
    body header div#titulo h2 {
      text-align: center;
      font-size: 35px;
      margin: 5px; }
  /* --------------- NAV --------------- */
  body header nav#nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    margin-top: 30px;
    margin-bottom: 50px;
    background-color: black;
    list-style-type: none; }
    body header nav#nav ul a {
      text-decoration: none;
      text-align: center;
      font-size: 10px; }
  /* --------------- FOOTER --------------- */
  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height: 60px;
    margin-top: 40px; }
    footer div {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 5px; }
      footer div a {
        padding-right: 15px; }
    footer p {
      padding-top: 17px;
      margin-left: 20px;
      font-size: 12px; }
  /* --------------- INDEX --------------- */
  /* DIV */
  body main nav {
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: row;
    justify-content: center; }
  div#medio {
    display: flex;
    flex-direction: column; }
  div#centro {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    margin-bottom: 30px; }
  div#barra {
    padding: 0%;
    margin: 0%; }
  div#centro a {
    z-index: 1; }
  div#barra a {
    z-index: 0; }
  /* /imagenes */
  img#bartender {
    margin-bottom: -50px;
    margin-right: 40px;
    z-index: 1; }
  img#bartender:hover {
    background: url(..) no-repeat;
    margin-bottom: -50px;
    z-index: 1; }
  img#carta {
    background: url(../imagenes/Cartas.png);
    margin-right: 120px;
    margin-bottom: -50px;
    z-index: 1; }
  img#carta:hover {
    background: url(../imagenes/CartasC.png) no-repeat;
    margin-right: 120px;
    margin-bottom: -50px;
    z-index: 1; }
  img#cuadro {
    background: url(../imagenes/Cuadro.png);
    margin-bottom: 120px;
    margin-right: 20px; }
  img#cuadro:hover {
    background: url(../imagenes/CuadroC.png);
    margin-bottom: 120px;
    margin-right: 20px; }
  img#tragos {
    margin-left: 120px;
    margin-bottom: -40px;
    z-index: 1; }
  img#tragos:hover {
    background: url(../imagenes/TragosC.png) no-repeat;
    margin-left: 120px;
    margin-bottom: -40px;
    z-index: 1; }
  img#mesa {
    background: url(../imagenes/Barras.png) no-repeat; }
  img#mesa:hover {
    background: url(../imagenes/BarrasC.png) no-repeat; }
  /* FLECHAS */
  div#izquierda {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end; }
  div#derecha {
    flex-direction: column;
    justify-content: flex-start; }
  img#a {
    margin-top: 100px;
    margin-right: -80px; }
  img#r {
    margin-top: 150px;
    margin-right: -120px; }
  img#o {
    margin-right: -200px; }
  img#w {
    margin-left: -280px;
    margin-top: -70px; }
  img#s {
    margin-top: 230px;
    margin-left: -40px; }
  /* TEXTO */
  div#izq {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    height: 570px;
    margin-top: 30px;
    padding-bottom: 40px; }
  div#izq a {
    text-decoration: none; }
  div#der {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 180px;
    margin-top: 70px; }
  div#der a {
    text-decoration: none; }
  a#cont {
    margin-right: -170px;
    transform: rotate(15deg);
    font-family: "haters";
    font-size: 300%;
    color: black; }
  a#cont:hover {
    color: #FFCF0B;
    text-shadow: 0 0 1px #000, -1px -1px 0 #000,   1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; }
  a#coc {
    margin-right: -60px;
    transform: rotate(-15deg);
    font-family: "haters";
    font-size: 300%;
    color: black; }
  a#coc:hover {
    color: #FFCF0B;
    text-shadow: 0 0 1px #000, -1px -1px 0 #000,   1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; }
  a#res {
    margin-right: -40px;
    transform: rotate(15deg);
    font-family: "haters";
    font-size: 300%;
    color: black; }
  a#res:hover {
    color: #FFCF0B;
    text-shadow: 0 0 1px #000, -1px -1px 0 #000,   1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; }
  a#bart {
    margin-left: -120px;
    transform: rotate(-15deg);
    font-family: "haters";
    font-size: 300%;
    color: black; }
  a#bart:hover {
    color: #FFCF0B;
    text-shadow: 0 0 1px #000, -1px -1px 0 #000,   1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; }
  a#serv {
    margin-left: -40px;
    transform: rotate(15deg);
    font-family: "haters";
    font-size: 300%;
    color: black; }
  a#serv:hover {
    color: #FFCF0B;
    text-shadow: 0 0 1px #000, -1px -1px 0 #000,   1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; }
  /* --------------- SERVICIOS --------------- */
  body main#service {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px; }
    body main#service div {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin: 0px 20px 20px 20px; }
      body main#service div h1 {
        font-size: 60px;
        margin-top: 0px; }
      body main#service div img {
        box-shadow: 5px 3px 3px #7c7c7c;
        border-radius: 20px;
        margin: 80px;
        margin-top: 40px; }
  /* --------------- NOSOTROS --------------- */
  body main#nos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px; }
    body main#nos div {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: 20px; }
      body main#nos div img {
        display: flex;
        flex-direction: column;
        justify-items: center;
        border: solid black;
        padding: 5px;
        box-shadow: 10px 5px 5px #7c7c7c; }
      body main#nos div ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 20px;
        font-size: 20px; }
  /* --------------- COCKTAILS --------------- */
  body main#bebidas div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 5px;
    margin-bottom: 10px; }
    body main#bebidas div div {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      background-color: black;
      box-shadow: 10px 5px 5px #7c7c7c;
      border-radius: 5px; }
      body main#bebidas div div div {
        box-shadow: none;
        padding: 5px; }
  body main#bebidas h1 {
    font-size: 60px;
    margin-top: 40px; }
  body main#bebidas h2 {
    font-size: 30px; }
  body main#bebidas ul {
    font-size: 12px; }
  body main#bebidas ol {
    font-size: 12px; }
  table {
    border-collapse: collapse;
    padding: 3px;
    background-image: url(../imagenes/logoopaco.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 120%; }
  th {
    font-size: 12px;
    font-weight: bold;
    padding: 4px;
    background: transparent;
    border-top: 4px solid black;
    border-bottom: 1px solid snow;
    color: #FFCF0B; }
  th#th {
    font-size: 17px; }
  td {
    padding: 4px;
    background: transparent;
    border-bottom: 1px solid snow;
    color: snow;
    border-top: 1px solid transparent; }
  table#segunda {
    width: 100px;
    margin-right: 200px; }
  table#segunda th {
    width: fit-content; }
  tr:hover td {
    background: transparent;
    color: #FFCF0B; }
  /* --------------- CONTACTO --------------- */
  body main form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
    margin-top: 60px;
    margin-bottom: 40px; }
    body main form fieldset {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 900px;
      height: 600px;
      border: solid;
      border-radius: 20px;
      padding: 20px;
      background-color: black;
      box-shadow: 10px 5px 5px #7c7c7c; }
      body main form fieldset h1 {
        font-size: 30px; }
  /* --------------- RESERVA --------------- */
  main#reservaBarra h1 {
    font-size: 60px;
    margin: 0px;
    margin-bottom: 20px; }
  main#reservaBarra h4 {
    font-size: 30px; }
  main#reservaBarra span {
    font-size: 10px; }
  main#reservaBarra div {
    margin: 1px;
    padding: 5px; }
    main#reservaBarra div input {
      box-shadow: 10px 5px 5px #7c7c7c;
      margin-bottom: 50px;
      width: 70px;
      font-size: 15px; }
  .mt-100 {
    margin-top: 50px; }
  hr, .hrcolor {
    height: 1px;
    border: 0;
    color: #666;
    background-color: snow; }
  .mb-30 {
    margin-bottom: 30px; }
  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: black;
    background-clip: border-box;
    border: 1px solid #d2d2dc;
    border-radius: 20px;
    box-shadow: 10px 5px 5px #7c7c7c; }
  .card .card-body {
    padding: 1.25rem 1.75rem; }
  .card-body {
    flex: 1 1 auto;
    padding: 1.25rem; }
  .card .card-title {
    color: #FFCF0B;
    font-family: "haters";
    font-size: 300%;
    margin-bottom: 0.625rem;
    text-transform: capitalize;
    font-weight: 500; }
  .card .card-description {
    margin-bottom: .875rem;
    font-weight: 400;
    color: slategray; }
  label.check {
    cursor: pointer; }
  label.check input {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    pointer-events: none; }
  label.check span {
    padding: 7px 14px;
    border: 2px solid #FFCF0B;
    display: inline-block;
    color: #FFCF0B;
    border-radius: 3px;
    text-transform: uppercase; }
  label.check input:checked + span {
    border-color: #FFCF0B;
    background-color: #FFCF0B;
    color: snow; }
  /* --------------- CLASES --------------- */
  /* GENERALES */
  .marginTop {
    margin-top: 100px; }
  .borde {
    text-shadow: 0 0 1px #000, -1px -1px 0 #000,   1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; }
  .oculto {
    display: none; }
  /* TEXTO*/
  /* COLOR */
  /* COLOR */
  .colorAmarillo {
    color: #FFCF0B; }
  .colorMostaza {
    color: #FFCF0B; }
  .colorBlanco {
    color: snow; }
  .colorGris {
    color: slategray; }
  /* FONT */
  .haters {
    font-family: "haters"; }
  .mostazaHaters {
    color: #FFCF0B;
    font-family: "haters"; }
  .font {
    font-family: "Architects Daughter", cursive; }
  /* SIZE */
  .bigFont {
    font-size: 300%; }
  .bigBigFont {
    font-size: 500%; }
  .hatersBig {
    font-family: "haters";
    font-size: 200%; }
  /* LISTAS */
  .listRoman {
    list-style-type: upper-roman; }
  .listDisc {
    list-style-type: disc; } }

@media only screen and (min-width: 1224px) {
  /* --------------- BODY --------------- */
  body {
    background-image: url(../imagenes/fondo.png);
    background-attachment: fixed; }
  /* --------------- HEADER --------------- */
  body header div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
  body header div#titulo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 80px;
    margin-top: 30px;
    margin-bottom: 50px;
    background-color: black; }
  /* --------------- NAV --------------- */
  body header nav#nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    margin-top: 30px;
    margin-bottom: 50px;
    background-color: black;
    list-style-type: none; }
    body header nav#nav ul a {
      text-decoration: none;
      text-align: center; }
  /* --------------- FOOTER --------------- */
  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height: 60px;
    margin-top: 40px; }
    footer div {
      display: flex;
      flex-direction: row;
      align-items: center; }
      footer div a {
        padding-right: 15px; }
    footer p {
      padding-top: 17px;
      margin-left: 20px; }
  /* --------------- INDEX --------------- */
  /* DIV */
  body main nav {
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: row;
    justify-content: center; }
  div#medio {
    display: flex;
    flex-direction: column; }
  div#centro {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    margin-bottom: 30px; }
  div#barra {
    padding: 0%;
    margin: 0%; }
  div#centro a {
    z-index: 1; }
  div#barra a {
    z-index: 0; }
  /* /imagenes */
  img#bartender {
    margin-bottom: -50px;
    margin-right: 40px;
    z-index: 1; }
  img#bartender:hover {
    background: url(../imagenes/BartenderC.png) no-repeat;
    margin-bottom: -50px;
    z-index: 1; }
  img#carta {
    background: url(../imagenes/Cartas.png);
    margin-right: 120px;
    margin-bottom: -50px;
    z-index: 1; }
  img#carta:hover {
    background: url(../imagenes/CartasC.png) no-repeat;
    margin-right: 120px;
    margin-bottom: -50px;
    z-index: 1; }
  img#cuadro {
    background: url(../imagenes/Cuadro.png);
    margin-bottom: 120px;
    margin-right: 20px; }
  img#cuadro:hover {
    background: url(../imagenes/CuadroC.png);
    margin-bottom: 120px;
    margin-right: 20px; }
  img#tragos {
    margin-left: 120px;
    margin-bottom: -40px;
    z-index: 1; }
  img#tragos:hover {
    background: url(../imagenes/TragosC.png) no-repeat;
    margin-left: 120px;
    margin-bottom: -40px;
    z-index: 1; }
  img#mesa {
    background: url(../imagenes/Barras.png) no-repeat; }
  img#mesa:hover {
    background: url(../imagenes/BarrasC.png) no-repeat; }
  /* FLECHAS */
  div#izquierda {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end; }
  div#derecha {
    flex-direction: column;
    justify-content: flex-start; }
  img#a {
    margin-top: 100px;
    margin-right: -80px; }
  img#r {
    margin-top: 150px;
    margin-right: -120px; }
  img#o {
    margin-right: -200px; }
  img#w {
    margin-left: -280px;
    margin-top: -70px; }
  img#s {
    margin-top: 230px;
    margin-left: -40px; }
  /* TEXTO */
  div#izq {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    height: 570px;
    margin-top: 30px;
    padding-bottom: 40px; }
  div#izq a {
    text-decoration: none; }
  div#der {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 180px;
    margin-top: 70px; }
  div#der a {
    text-decoration: none; }
  a#cont {
    margin-right: -170px;
    transform: rotate(15deg);
    font-family: "haters";
    font-size: 300%;
    color: black; }
  a#cont:hover {
    color: #FFCF0B;
    text-shadow: 0 0 1px #000, -1px -1px 0 #000,   1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; }
  a#coc {
    margin-right: -60px;
    transform: rotate(-15deg);
    font-family: "haters";
    font-size: 300%;
    color: black; }
  a#coc:hover {
    color: #FFCF0B;
    text-shadow: 0 0 1px #000, -1px -1px 0 #000,   1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; }
  a#res {
    margin-right: -40px;
    transform: rotate(15deg);
    font-family: "haters";
    font-size: 300%;
    color: black; }
  a#res:hover {
    color: #FFCF0B;
    text-shadow: 0 0 1px #000, -1px -1px 0 #000,   1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; }
  a#bart {
    margin-left: -120px;
    transform: rotate(-15deg);
    font-family: "haters";
    font-size: 300%;
    color: black; }
  a#bart:hover {
    color: #FFCF0B;
    text-shadow: 0 0 1px #000, -1px -1px 0 #000,   1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; }
  a#serv {
    margin-left: -40px;
    transform: rotate(15deg);
    font-family: "haters";
    font-size: 300%;
    color: black; }
  a#serv:hover {
    color: #FFCF0B;
    text-shadow: 0 0 1px #000, -1px -1px 0 #000,   1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; }
  /* --------------- SERVICIOS --------------- */
  body main#service {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px; }
    body main#service div {
      display: flex;
      flex-direction: row;
      justify-content: space-around; }
      body main#service div img {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        border-radius: 20px; }
  .top {
    margin: 50px; }
  /* FLIP */
  .flip-card {
    background-color: transparent;
    width: 350px;
    height: 640px;
    perspective: 1000px; }
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d; }
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg); }
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; }
  .flip-card-front {
    color: black; }
  .flip-card-back {
    color: white;
    transform: rotateY(180deg); }
  /* OPACITY */
  .container {
    position: relative;
    width: 100%;
    padding: 0%; }
  .image {
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden; }
  .middle {
    transition: .5s ease;
    opacity: 0;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); }
  .container:hover .image {
    opacity: 0.3; }
  .container:hover .middle {
    opacity: 1; }
  .text {
    background-color: black;
    font-family: "haters";
    color: #FFCF0B;
    font-size: 32px;
    padding: 16px 32px;
    border: solid #FFCF0B; }
  .sep {
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
  /* --------------- NOSOTROS --------------- */
  body main#nos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px; }
    body main#nos div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 20px; }
      body main#nos div div {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: 20px; }
        body main#nos div div div {
          display: flex;
          flex-direction: row;
          justify-content: center;
          width: 295px;
          height: 295px;
          transition: background-color 1s, height 2s, width 2s;
          overflow: hidden;
          border: solid;
          box-shadow: 10px 5px 5px #7c7c7c;
          background-color: snow; }
          body main#nos div div div img {
            display: flex;
            flex-direction: column;
            justify-items: center;
            padding: 17px;
            background-color: snow;
            transition: border 1s; }
          body main#nos div div div div {
            box-shadow: none;
            width: 500px;
            margin: 35px;
            border: none; }
            body main#nos div div div div ul {
              display: flex;
              flex-direction: column;
              justify-content: center;
              padding-right: 20px;
              box-shadow: none; }
              body main#nos div div div div ul li {
                color: black; }
  div#valenOcta {
    width: 800px; }
  img#imgValen {
    margin-left: 75px; }
  img#imgOcta {
    margin-right: 77px; }
  div#todoNosotros {
    height: 800px; }
  div#valen:hover {
    width: 800px;
    height: 300px;
    margin-bottom: 20px;
    border: black solid;
    background-color: snow; }
    div#valen:hover img {
      background-color: snow;
      border: solid black;
      padding: 10px; }
  div#octa:hover {
    width: 800px;
    height: 300px;
    margin-bottom: 20px;
    border: black solid;
    background-color: snow; }
    div#octa:hover img {
      background-color: snow;
      border: solid black;
      padding: 10px; }
  .certificados {
    padding-left: 150px;
    padding-right: 150px; }
  /* --------------- COCKTAILS --------------- */
  body main#bebidas div {
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
    body main#bebidas div div {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding: 20px;
      border: 2px solid black;
      background-color: black;
      box-shadow: 10px 5px 5px #7c7c7c;
      border-radius: 5px; }
      body main#bebidas div div div {
        box-shadow: none; }
  div#bat {
    height: 1380px; }
  table {
    border-collapse: collapse;
    padding: 5px;
    background-image: url(../imagenes/logoopaco.png);
    background-repeat: no-repeat;
    background-position: center center; }
  th {
    font-size: 18px;
    font-weight: bold;
    padding: 8px;
    background: transparent;
    border-top: 4px solid black;
    border-bottom: 1px solid snow;
    color: #FFCF0B; }
  td {
    padding: 8px;
    background: transparent;
    border-bottom: 1px solid snow;
    color: snow;
    border-top: 1px solid transparent; }
  tr:hover td {
    background: transparent;
    color: #FFCF0B; }
  /* --------------- CONTACTO --------------- */
  body main form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 150px; }
    body main form fieldset {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 900px;
      height: 600px;
      border: solid;
      border-radius: 20px;
      padding: 20px;
      background-color: black;
      box-shadow: 10px 5px 5px #7c7c7c; }
  /* --------------- RESERVA --------------- */
  .mt-100 {
    margin-top: 100px; }
  hr, .hrcolor {
    height: 1px;
    border: 0;
    color: #666;
    background-color: snow; }
  .mb-30 {
    margin-bottom: 30px; }
  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: black;
    background-clip: border-box;
    border: 1px solid #d2d2dc;
    border-radius: 20px;
    box-shadow: 10px 5px 5px #7c7c7c; }
  .card .card-body {
    padding: 1.25rem 1.75rem; }
  .card-body {
    flex: 1 1 auto;
    padding: 1.25rem; }
  .card .card-title {
    color: #FFCF0B;
    font-family: "haters";
    font-size: 300%;
    margin-bottom: 0.625rem;
    text-transform: capitalize;
    font-weight: 500; }
  .card .card-description {
    margin-bottom: .875rem;
    font-weight: 400;
    color: slategray; }
  main#reservaBarra div p {
    font-size: 0.875rem;
    margin-bottom: .5rem;
    line-height: 1.5rem; }
  main#reservaBarra div button {
    box-shadow: 10px 5px 5px #7c7c7c;
    margin-bottom: 50px; }
  label.check {
    cursor: pointer; }
  label.check input {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    pointer-events: none; }
  label.check span {
    padding: 7px 14px;
    border: 2px solid #FFCF0B;
    display: inline-block;
    color: #FFCF0B;
    border-radius: 3px;
    text-transform: uppercase; }
  label.check input:checked + span {
    border-color: #FFCF0B;
    background-color: #FFCF0B;
    color: snow; }
  /* --------------- CLASES ---------------*/
  /* GENERALES*/
  .oculto {
    display: none; }
  .marginTop {
    margin-top: 100px; }
  .margin {
    margin: 20px; }
  .borde {
    text-shadow: 0 0 1px #000, -1px -1px 0 #000,   1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; }
  /* TEXTO */
  /* COLOR */
  .colorAmarillo {
    color: #FFCF0B; }
  .colorMostaza {
    color: #FFCF0B; }
  .colorBlanco {
    color: snow; }
  .colorGris {
    color: slategray; }
  /* FONT */
  .haters {
    font-family: "haters"; }
  .hatersBig {
    font-family: "haters";
    font-size: 200%; }
  .mostazaHaters {
    color: #FFCF0B;
    font-family: "haters";
    font-size: 200%; }
  .font {
    font-family: "Architects Daughter", cursive;
    font-size: 100%; }
  /* SIZE */
  .bigFont {
    font-size: 300%; }
  .bigBigFont {
    font-size: 500%; }
  /* LISTAS */
  .listRoman {
    list-style-type: upper-roman; }
  .listDisc {
    list-style-type: disc; } }
